NODE_ENV=development
PORT=3000

TRUSTED_ORIGINS=https://tauri.localhost,http://localhost:1420

# better auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:$PORT
RP_ID=localhost
RP_NAME=zenith
ORIGIN=http://localhost:5173

# postgres
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=zenith
PGHOST=localhost
PGPORT=5432
DATABASE_URL=postgres://$PGUSER:$PGPASSWORD@$PGHOST:$PGPORT/$PGDATABASE

# redis
REDIS_PORT=6379
REDIS_URL=redis://localhost:$REDIS_PORT
